
<footer class="footer">
    <ul class="list-inline text-center">
        <% if (config.twitter_username) { %>
        <li>
            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-twitter"></i>
                            </span>
            </a>
        </li>
        <% } %>
        <% if (config.zhihu_username) { %>
        <li>
            <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                 <i class="iconfont icon-zhihu"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.weibo_username) { %>
        <li>
            <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                  <i class="iconfont icon-weibo"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.facebook_username) { %>
        <li>
            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-facebook"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.github_username) { %>
        <li>
            <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-github"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.linkedin_username) { %>
        <li>
            <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-linkedin"></i>
                            </span>
            </a>
        </li>
        <% } %>

    </ul>
    <% if(config.friends) { %>
    <p>
        <span>/</span>
        <% config.friends.forEach(function(friend){ %>
        <span><a href="<%= friend.href %>"><%= friend.title %></a></span>
        <span>/</span>
        <% }); %>
    </p>
    <% }%>
    <p>
        <span id="busuanzi_container_site_pv">
            <span id="busuanzi_value_site_pv"></span>PV
        </span>
        <span id="busuanzi_container_site_uv">
            <span id="busuanzi_value_site_uv"></span>UV
        </span>
        Created By <a href="https://hexo.io/">Hexo</a>  Theme <a href="https://github.com/aircloud/hexo-theme-aircloud">AirCloud</a></p>
</footer>


